/* مراجع ---------------------------------------- */
    /* 
        معلمينى
        Gemini
        Copilot
        Google
        w3school
        MDN docs
        مواقع الدورات
        قنوات اتابعها
        مواقع اتابعها
    */

/* ################################################### */













/* أدوات ------------------------------------------- */
  /* انظر للمتصفح */

/* ################################################### */














/* IDE || Code Editor --------------------------------- */
    /* VScode */
/* ################################################### */













/* اضافات ------------------------------------------ */
    /* 
        HTML CSS Support
        Live Server
        Better Comments
        Prettier - Code formatter
    */

/* ################################################### */















/* أولوية ----------------------------------------- */
    /* 
        المضمنة
        <style></style>
        file

        #
        .c
        h1 span
        h1
    */

/* ################################################### */















/* تنفيذ ---------------------------------------- */
    /* 
        سطر سطر بالترتيب
        السطر الأخير يعدل على السابق لو كان نفس الأمر
    */

/* ################################################### */














/* ملف ----------------------------------------------- */
    /* 
        html اكتب لكل صندوق عناصر ، كوده تحته فى نفس ملف 
        لو احتجت تعمل ملف منفصل لشئ معين ، أعمل
    */

/* ################################################### */















/* تعليقات ------------------------------------------- */
    /* ddddddd */
    /* 
    ssssssssss
    sssssssssss
    */

/* ################################################### */















/* طريقة كتابة الكود ------------------------------------ */
    .s{
        color: red;
        font-size: 12px;
    }

/* ################################################### */














/* تنظيم داخل الملف ------------------------------------ */
    .sp{

    }
        .sc{

        }
    
    /* 
       <style></style> داخل html سيتم كتابة خصائص كل مجموعة عناصر تحت الصندوق الخاص بها فى ملف
         ويتم كتابة فى تعليق أسفلها يخبر بذلك و مكان هذه التنسيقات ، html أسفل ملف style الخصائص التى سيتم تطبيقها على كل الصفحة ستنقل فى
    */

/* ################################################### */
















/* نظام الألوان---------------------------------------- */
/* 
    تصميم =- ألوان
*/

/* ################################################### */















/* نظام الخطوط ----------------------------------------- */
/* 
    تصميم =- شكل =- خط
*/

/* ################################################### */












/* تحديد العناصر ------------------------------------------ */
#s,h1,.s,[title="sss"],h1.s,h1[title="sss"],h1[title="sss"].s,
.s h1 span,h1 + h2,h1 ~ h2,*,h1 *, body *,
.s:first-child, .s:last-child, .s:first-of-type, .s:last-of-type,
.s:nth-of-type(1), .s:nth-of-type(even), .s:nth-of-type(odd){
    color: red;
}
/* 
    h1 ~ h2
         و توجد بعده h1 الأخوة ل h2 أى تحديد كل عناصر 

    h1 + h2
         ويليه مباشرتا h1 الأخ لعنصر h2 أى تحديد العنصر
*/

/* ################################################### */















/* ترتيب الخصاص ------------------------------------- */
/* 
    احداث
    اتاحة
    ظهور
    تنظيم
    مكان
    بنيان
    اطار
    ظل
    خلفية
    لون
    نص
    animation
*/

/* ################################################### */















/* أحداث ------------------------------------------------*/
.s:hover, .s:active, .s:focus, .s:valid, .s:invalid, .s:checked, .s:disabled{
    width: 12px;
    color: green;
}

.s{
    width: 10px;
    color: red;

    transition: 0s all 1s ease-out;
    /* transition: 0s width 1s, 1s color 1s;   */
}

/* ################################################### */















/* إتاحة ---------------------------------------------------*/
.a1{
    /*
    display: none; يصبح غير موجود فى الصفحة
    display: block; يكون له صف لوحده - تعمل خصائص البنيان عليه
    display: inline-block; يقبل ان يكون مع عناصر فى نفس الصف - لا يقبل ان يتم تقسيمه فى صفوف اخرى - تعمل خصائص البنيان عليه
    */ 
    display: inline; /* يقبل ان يكون معه عناصر اخرى فى نفس الصف - يقبل ان يقسم على عدة صفوف - لا تعمل خصائص البنيان عليه */
}

/* ################################################### */
















/* ظهور ------------------------------------------------*/
.show{
    visibility: hidden;
    /* 
        سيختفى العنصر ، ولكن سيظل موجود فى الصفحة ، وموجود فى مكانه : hidden
        سيظهر العنصر : visible
    */

    opacity: 15%;
    /* درجة وضوح العنصر */
    
    /* ظهور العنصر على أو تحت عناصر اخرى */
    position: absolute;
    z-index: 1;
}

/* ################################################### */
















/* وحدات القياس --------------------------------------*/
/* * % fr vw vh px rem em pt*/
/* 
    (نفس نوع الخاصية المستخدمة فيها للعنصر الاب) من  : %
    مثل 30 فى المائة من عرض العنصر الاب ، اذا كانت مستخدمة فى خاصية العرض لعنصر

    (viewport) من عرض شاشة المتصفح : vw
    (viewport) من ارتفاع شاشة المتصفح : vh

    ضعف حجم النص للعنصر: em 
    حجم النص للعنصر: rem

*/

/* ################################################### */















/* root --------------------------------------------------*/
/* خاصة بانشاء متغيرات */

:root{
    --color1: red;
    --color2: green;
    --font_size: 3rem;
}

@media (prefers-color-scheme: dark){
    /*
        prefers-color-scheme: dark
        نظام الألوان لنظام التشغيل = الوضع الليلى

        prefers-color-scheme: light
        نظام الألوان لنظام التشغيل = الوضع النهارى 
    */

    :root{
        --color1: yellow;
        --color2: blue;
    }
}

.a2{
    color: var(--color1);
    font-size: var(--font_size);
}

/* ################################################### */












/* تنظيم -----------------------------------------------*/
    /* flex */
    /* grid */
    /* float */
    /* التنظيم المفضل لعنصر واحد */
    /* التنظيم المفضل لعدة عناصر */
    /* التنظيم المفضل للنص */



    /* flex */
        /* 
            تستخدم لتنظيم العناصر داخل صندوق
        */

        .a{
            display: flex;
            flex-flow: row-reverse wrap;
            /* 
                row
                row-reverse
                column
                column-reverse
            */

            justify-content: space-around;
            /* 
               flex-flow تنظيم المحتوى فى اتجاه تنظيم النص المحدد فى  : justify-content 
                : قيمها
                جعل العناصر فى بداية الاجاه : flex-start
                جعل العناصر فى نهاية الاجاه : flex-end
                center
                وضع مسافات متساوية حول العناصر : space-around
                العنصر اقل padding  ولكن تكون المسافة بين العناصر المجاورة ل   around مثل  : space-evenly
                جعل العناصر متجمعة على جانيى العنصر الاب : space-between
            */

            align-items: flex-start;
            /* 
                flex-flow محاذاة العناصر فى الاتجاه المعاكس ل : align-items
                : قيمها
                flex-start
                flex-end
                center
            */
        }

        /* لعنصر واحد فقط align */
        #a{
            order: 1;
            align-self: center;
            flex-basis: 100px;
            flex-grow: 1fr;
        }



    /* grid */
        /* 
            تستخدم لتقسيم صندوق أو الصفحة لأجزاء
        */

        .a{
            display: grid;
            grid-template-columns: repeat(3,500px);
            grid-template-rows: 300px 500px 300px;
            grid-template-areas:
                'c1r1 c2r1 c3r1'
                'c1r2 c2r2 c3r2'
                'c c c'
            ;
            column-gap: 10px;
            row-gap: 5px;
            grid-auto-flow: column;
            grid-auto-columns: 500px;
            justify-content: start;
            align-content: space-around;
            justify-items: center;/* right left */
            align-items: center; /* start end */
        }

        #a{
            /* grid-area: 2/2/3/3; */
            grid-area: c2r2;
            justify-self: center;
            align-self: end;
        }



    /* float */
        /* 
            أيضا  float لا تقبل عناصر بجانبها الا اذا كانت تستخدم 
        */

        .a{
            float: right; /* left none */
            float: none;
        }



    /* التنظيم المفضل لعنصر واحد */
        /*
            margin: auto
                لجعله فى المنتصف
            
            position: absolute
                لوضعه فى المكان المناسب له
        */



    /* التنظيم المفضل لعدة عناصر */
        /* flex */



    /* التنظيم المفضل للنص */
        /* 
            text-align للصف
            line-height للعمود
        */

/* ################################################### */

















/* مكان ---------------------------------------------------*/
    .a{
        direction: rtl; /* اتجاه المحتوى */
        transform: translateX(-10), translateY(10);
        transform: rotate(300) translateX(30);

        position: fixed;
        left: 10%;
        top: 10%;
        /*
            لتحريك العنصر حسب شاشة المتصفح 
            لا يظل مكانه الاصلى محفوظ
        */

        position: relative;
        left: 100px;
        top: 100px;
        /* 
            لتحريك العنصر حسب نفسه
            يظل مكانه الاصلى محفوظ له
        */

        position: absolute;
        left: 100px;
        top: 100px;
        /* 
            لتحريك العنصر من مكانه حسب الصفحة
            يتحرك العنصر من مكانه حسب النصر الأب position: relative; لو اعطيت للعنصر الاب له الخاصية
            لا يظل المكان الاصلى للعنصر محفوظ له
        */
    }

/* ################################################### */















/* بنيان ---------------------------------------------*/
.a{
    width: 90%; /* % px vw */ /* % أفضل */
    height: 100px; /* % px vw */ /* px أفضل */
    aspect-ratio: 1/1.5;
    min-width: 100px;
    max-height: 100px;
    padding: 1rem 10px;
    /* 
        مسافة فارغة بين عرض و ارتفاع العنصر و اطاره
        تقبل اربع قيم و تكون كالاتى    اعلى  يمين  اسفل  شمال
        وتقبل قيمتان كالاتى   اعلى و اسفل    يمين ويسار
        وتقبل قيمة واحدة    اعلى و اسفل و يمين و يسار
        القيمة الموجبة تزيد من مساحتها
        القيمة السالبة تنقص من مساحتها ، لدرجة قد تدخل على العنصر نفسه
    */
    margin: -1rem 1rem;
    /* 
        مسافة فارغة حول العنصر و مايخصه
        تقبل اربع قيم و تكون كالاتى    اعلى  يمين  اسفل  شمال
        وتقبل قيمتان كالاتى   اعلى و اسفل    يمين ويسار
        وتقبل قيمة واحدة    اعلى و اسفل و يمين و يسار
        القيمة الموجبة تزيد من مساحتها
        القيمة السالبة تنقص من مساحتها ، لدرجة قد تدخل على العنصر نفسه ، مما قد يؤدى لدخول العناصر المجاورة للعنصر فى العنصر
    */

    clip-path: polygon(0% 11%, 70% 40%); /* https://bennettfeely.com */

    transform: scale(1.5,1), scaleX(1), scaleY(-1), rotate(200deg), skew(3deg,-3deg);
    transform: none;
    
    overflow: auto; /* visible hidden scroll*/
    resize: both; /* horizontal vertical */

    cursor: pointer; /* https://www.w3schools.com/cssref/tryit.php?filename=trycss_cursor */
    list-style: url(); /* for ul and ol */
    object-fit: contain; /* none fill cover */
    /* 
        خاصية object-fit تحدد كيفية ضبط محتوى العنصر (مثل صورة أو فيديو) لملاءمة عنصر الحاوية الخاصة به.
        تُستخدم خاصية object-fit بشكل رئيسي مع العناصر التي تحتوي على محتوى قابل للتمدد، مثل <img> و <video>. 

        1. fill
        الوصف: يتمدد المحتوى ليملأ صندوق الحاوية بالكامل، بغض النظر عن الأبعاد الأصلية للمحتوى.
        التأثير: قد يحدث تشويه في المحتوى إذا كانت أبعاد العنصر الحاوي مختلفة عن أبعاد المحتوى.

        2. contain
        الوصف: يُعيد تحجيم المحتوى ليظهر بالكامل داخل الصندوق مع الحفاظ على نسبة العرض إلى الارتفاع.
        التأثير: قد يتم ترك مساحة فارغة حول المحتوى إذا كانت أبعاد العنصر الحاوي لا تتطابق مع أبعاد المحتوى.

        3. cover
        الوصف: يُعيد تحجيم المحتوى ليغطي كامل مساحة الصندوق مع الحفاظ على نسبة العرض إلى الارتفاع. قد يتم قطع جزء من المحتوى إذا كانت أبعاد العنصر الحاوي تختلف عن أبعاد المحتوى.
        التأثير: يملأ الصندوق بالكامل مع الحفاظ على النسب الصحيحة، ولكن بعض الأجزاء من المحتوى قد تكون مخفية.

        4. none
        الوصف: لا يتم تغيير حجم المحتوى. يُعرض المحتوى كما هو، وقد يتجاوز حدود الصندوق إذا كان أكبر منه.
        التأثير: لا يتم تحجيم أو تعديل المحتوى بأي شكل.

        5. scale-down
        الوصف: يُعيد تحجيم المحتوى بحيث يكون أصغر من حجمه الأصلي إذا كان أكبر من الصندوق، ولكن لا يغير حجمه إذا كان أصغر.
        التأثير: يشبه contain ولكن لا يتم تحجيم المحتوى إذا كان أصغر من الصندوق.
    */
    
    
}

/* ################################################### */


















/* إطار ---------------------------------------------------*/
    .a{
        border-width: 12px;
        border-color: greenyellow;
        border-style: solid;
        border-radius: 10px;
        border: 12px red solid;
        border: none; /* hidden */
        box-sizing: border-box; 
        /*
            وليس خارجهم height و width فى ال padding و border تستخدم لجعل ال 
            أى لو العرض 100 و الاطار 10 لن يضاف الاطار على العرض ، ولكن سيصبح من العرض ، أى سيأخذ من العرض
        */
        /* 
            border-radius
            %لو جعلت قيمتها 50
            وجعلت عرض و ارتفاع العنصر متساويين
            سيصبح العنصر دائرة
        */

        outline-width: 11px;
        outline-color: green;
        outline-style: solid;
        outline-offset: 12px; /* -12px */
        outline: 12px red solid;
        outline: none; /* hidden */ 

        text-shadow: 0 0 10px red, 0 0 10px red, 0 0 10px red;  /* إطار ضبابى */
        text-shadow: 1px 0 red, 0 1px red, -1px 0 red, 0 -1px red, 1px 1px red, 1px -1px red, -1px 1px red, -1px -1px red; /* إطار مستقيم */
    }

/* ################################################### */
















/* ظل ---------------------------------------------------*/
    /* 
        الظل هو نسخة من العنصر تظهر أسفل منه
        الظل يتكون عند استخدام خاصية الظل
        كل خاصية ظل تنشأ ظل واحد خاص بها
        يمكن تحريكه بخصاص الظل لأى مكان
        يمكن أنشاء أكثر من ظل لنفس العنصر
    */

    .a{
        box-shadow: 1px -1px 10px 1px red, inset 1px 1px 1px 1px red;
        /*
            1px -1px 10px 1px red
            يمين   أسفل   ضباب   ذيادة فى أطراف الظل
            اليمين و أسفل     لو أعطتهم قيمة سالبة   يصبحوا الاتجاه المعاكس    يسار و أعلى

            inset 1px 1px 1px 1px red
                inset ظل داخل العنصر
                1px 1px 1px 1px red
                يسار   أعلى   ضباب    ذيادة أطراف الظل للداخل
        */

        text-shadow: 1px 1px 1px red;

        filter: drop-shadow(1px 1px 1px red);    /* ظل لكل الصور داخل عنصر مثل الصندوق */
    }

/* ################################################### */
















/* خلفية ---------------------------------------------*/
    .a{
        background: red, linear-gradient(), conic-gradient(), radial-gradient(), url(../../Media/image/); 
        background: linear-gradient(to right, red, blue, green), linear-gradient(45deg, red 10%, green 70%, blue 20%); 
        background: conic-gradient(from 90deg, at 50% 50%, red 25%, green 50%, blue 25%), conic-gradient(from 0deg, at 50% 60%, red 0deg, red 90deg, green 90deg, green 270deg, blue 270deg, blue 360deg);
        background: linear-gradient(
            90deg in oklab,
            oklch(70% 0.1 300) 0%,
            oklch(70% 0.33 200) 100%
        ),
        conic-gradient(
            from 90deg at 0% 50% in oklab,
            oklch(70% 0.1 300) 0%,
            oklch(70% 0.33 200) 100%
        );
        /* 
            https://gradient.style/
            https://www.learnui.design/
        */

        background-repeat: repeat; /* no-repeat */ /* يجب تنشيط التكرار مع الهلفيات الملونة عدة الوان */
        background-size: 20% 20%;
        background-attachment: scroll; /* fixed local */
        background-position: right top;
        background-position-x: 50%;

        background-blend-mode: color-burn; 
    }

/* ################################################### */
















/* لون --------------------------------------------------*/
    a{
        /* 
            color خاص بلون النص فقط
            background-color خاص بلون الخلفية فقط
            accent-color   rangeأيقونة التحكم ل  radio checkbox  خاص بلون خلفية
        */

        color: transparent;
        color: rgba(247, 3, 3, 0.959);
        color: #efff;
        color: color(rec2020, 0.1 0.3 0.1 / 0.7);/* srgb display-p3 */
        color: oklch(30% 0.33 300 / 0.7); /* https://oklch.com/ */
        /* الاضائة   درجة تشبع اللون بالنسبة المئوية   تحديد اللون من خلال اختيار زاويته   درجة وضوح اللون بالنسبة المئوية */
        color: color-mix(in oklab, white, oklch(30% 0.33 300) 30%); /* https://codepen.io/argyleink/pen/YzLMaor */

        /* جعل الخلفية هى لون النص */
        background: url();
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-size: 300px 300px;
        background-position: center center;

        filter: brightness(100%)/* 0% <- 100% -> <100% */,
                saturate(12), sepia(100%), grayscale(100%), invert(100%), hue-rotate(30deg), blur(12px);
        filter: none;
        /* https://www.cssfilters.co/ */
        
        accent-color: green;
    }

    :root{
        --color: oklch(70% 0.3 200);
        --light: green;
    }

    @media (color-gamut: p3){
        :root{
            --color: oklch(70% 0.2 200);
        }
    }

    @media (prefers-color-scheme: dark){
        :root{
            --light: blue;
        }
    }

/* ################################################### */
















/* نص ---------------------------------------------------*/
.text{
    /* 
        https://fonts.google.com/
        حمل الخطوط التى تريد
        woof و woff2 وحولها ل 
        من انشائك fonts وضعها فى مجلد 
        من انشائك fonts.css وعرفهم فى ملف 
        الذى ستستعمله فيه html واستدعيه فى ملف 
    */

    /* شكل الخط */
    /*
        خطوط موجودة فى كل المتصفحات 
            font-family: sans-serif,serif,cursive; 
            https://www.w3schools.com/cssref/css_websafe_fonts.php    
    */
    font-family: 'RobotoCondensed-Regular', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;



    /* تجميل للخط */
    color: red;
    text-decoration: underline red solid 15px;
    text-transform: capitalize;/* lowercase, uppercase */
    word-spacing: 2px;
    letter-spacing: -2px;



    /* محاذاة النص */
    text-align: center;
    line-height: 100; /*
        لكى يكون النص فى منتصف العمود للعنصر الاب 
        تضع الرقم نصف ارتفاع العنصر الأب
        y لو قللت عنه يقل ارتفاع العنصر على محور 
        Y لو ازدت عنه يذيد ارتفاع العنصر على محور 
    */

}

/* ################################################### */


















/* animation ---------------------------------------------*/
@keyframes ani {
    0%{}
    10%{}
    50%{}
    90%{}
    /* ---------- */
    from{color: red;}
    to{color: blue;}
}

@keyframes ooo{}

.animation{
    animation: ani 3s linear infinite alternate/* normal reverse alternate-reverse */ forwards/* none forwards */,
                ooo 1s cubic-bezier(0.1,0,0.3,-3000) 1 alternate;
    animation-delay: 1s,1.5s;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    /* 
        animation-timing-function:
         تحدد كيفية تغير سرعة الرسوم المتحركة بمرور الوقت. CSS هذه خاصية 
         لها خمس قيم هم
         cubic-bezier(p1, p2, p3, p4)
            p1 and p3 values must be in the range of 0 to 1
            cubic-bezier(0.2, -2, 0.8, 2)
                النقطة الأولى (0.2): تمثل هذه النقطة بداية الحركة. في هذه الحالة، تُحدد أن تبدأ الحركة ببطء نسبيًا.
                النقطة الثانية (-2): تمثل هذه النقطة تسارعًا سلبيًا، مما يعني أن سرعة الحركة ستبدأ في الانخفاض بعد النقطة الأولى. 
                النقطة الثالثة (0.8 ): تمثل هذه النقطة تسارعًا إيجابيًا، مما يعني أن سرعة الحركة ستبدأ في الزيادة مرة أخرى.
                النقطة الرابعة (2): تمثل هذه النقطة نهاية الحركة. في هذه الحالة، تُحدد أن تنتهي الحركة ببطء نسبيًا.
         linear: تُحدد وظيفة توقيت الرسوم المتحركة هذه سرعة ثابتة للحركة.
         ease-in: تُحدد وظيفة توقيت الرسوم المتحركة هذه تسارعًا إيجابيًا في بداية الحركة.
         ease-out: تُحدد وظيفة توقيت الرسوم المتحركة هذه تسارعًا سلبيًا في نهاية الحركة.
         ease-in-out: تُحدد وظيفة توقيت الرسوم المتحركة هذه تسارعًا إيجابيًا في بداية الحركة وتسارعًا سلبيًا في نهاية الحركة.


        fill-mode
         بعد انتهائها anmation لتحدد ماذا سيحدث لتغيرات 
         لها قيمتان 
         none animation سيعود الوضع كما كان قبل تشغيل 
         forwards animation سيبقى الوضع عند أخر تغيير حدث من 
    */
}

/* ################################################### */
















/* content ---------------------------------------------*/
.content::after{
    content: "";/* ""  url() */
    /* خصائص تريد تطبيقها عليه */
}

/* ################################################### */
















/* دعم --------------------------------------------------*/
.sup{
    width: calc(11px + 10%) !important;
    color: inherit;/* initial */
}

/* ################################################### */















/* خصائص خاصة -------------------------------------------*/
    /* scrollbar */
    html::-webkit-scrollbar{
        width: 11px;
        height: 100px;

        background: green;
    }

    html::-webkit-scrollbar-thumb{
        width: 10px;
        height: 3px;

        background: red;
    }

    html::-webkit-scrollbar-track{

    }



    /* meter */
    meter::-webkit-meter-bar{
        background: lavenderblush;
    }
    meter::-webkit-meter-even-less-good-value{}
    meter::-webkit-meter-suboptimum-value{}
    meter::-webkit-meter-optimum-value{}


    
    /* range */
    .range{
        appearance: none;

        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    .range::-webkit-slider-thumb{
        appearance: none;

        width: 10px;
        height: 100px;

        border-radius: 50%;
        box-shadow: -100px 0 0 99px yellow;

        background: green;
    }

    .range::-webkit-slider-thumb:active{
        box-shadow: -100px 0 0 99px yellow, inset 0 0 0 3px orange;

        background: red;
    }

/* ################################################### */


















/* @media ------------------------------------------------*/
/* width from devtool + 17 */

@media print{

}

@media screen and (min-width: 100px) and (max-width: 700px) and (orientation: landscape) and (orientation: portrait){
    .a{
        width: 12px;
    }
}

/* ################################################### */















/* عمليات خاصة --------------------------------------------*/
    /** غشاء على الصورة */
    /** حركة  */



    /** غشاء على الصورة */
    .img{
        outline-offset: -1000px;
        outline: 1000px solid black;
    }

        /* يختفى الغشاء فقط */
        .img:hover{
            outline-color: transparent;
        }

        /* يختفى الغشاء مع حركة انه يخرج لخارج الصورة */
        .img:hover{
            outline: 3px solid white;
            outline-offset: 3px;
            outline-color: transparent;
        }

        /* يصبح الخشاء اطار حول الصورة */
        .img{
            outline: 3px solid red;
            outline-offset: 10px; 
        }



    /** حركة  */
    .object{
        position: absolute;
        left: 10vw;
        top: 30vh;

        width: 100px;
        height: 100px;

        border-radius: 50%;

        background: green;

        animation:  x1 3s linear 1 normal forwards,
                    y1 3s cubic-bezier(0.3,-1000,0.1,0) 1 normal forwards,
                    x2 2s linear 1 normal forwards,
                    cricle 5s linear 1 normal forwards,
                    x3 2s linear 1 normal forwards;
        animation-delay: 0s,0s,3s,5s,10s;
    }

    @keyframes x1{
        to{
            left: 30vw;
        }
    }

    @keyframes y1{
        to{
            top: 29.9vh;
        }
    }

    @keyframes x2{
        to{
            left: 40vw;
        }
    }

    @keyframes cricle{
        from{
            transform: rotate(0deg) translateY(30px);
        }

        to{
            transform: rotate(-360deg) translateY(30px);
        }
    }

    @keyframes x3{
        to{
            left: 55vw;
        }
    }

/* ################################################### */


/* ######### ########## ################ ############ */
























